.nav-link:hover {
    font-size: 2em;
    font-weight: bold;
    color: rgb(43, 128, 226);
    text-align: center;
    font-style: italic;
    line-height: 40px;
    width: 20%;
    background: #3f56c0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

  #channel {
    border: none; /* Add this line to remove the frame border */
  }
  
  #Yuen w-100
     {
      width:100%;
      height:550px;
      object-fit:cover;
      object-position:50% 50%;
     }
     #grabovoi{
      width: 100%; /* Adjust the width as per your requirement */
      height: auto; /* Maintain the aspect ratio */
      border-radius: 10px; /* Add border radius if desired */
      /* Add any other styles you want */
    }
    
    #channel{
      width:100%;
      height:auto;
    } 