.nav-link:hover {
    font-size: 2em;
    font-weight: bold;
    color: rgb(43, 128, 226);
    text-align: center;
    font-style: italic;
    line-height: 40px;
    width: 20%;
    background: #3f56c0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

  #channel {
    border: none; /* Add this line to remove the frame border */
  }
  
  #Yuen w-100
     {
      width:100%;
      height:550px;
      object-fit:cover;
      object-position:50% 50%;
     }
  
     /* Custom CSS styles */
    
    /* Example selector for .btn */
    button.btn {bottom: unset;
      /* Styles for .btn */
    }

    /* Example selector for .dropdown-menu-dark */
    .dropdown-menu.dropdown-menu-dark {
      /* Styles for .dropdown-menu-dark */
    }

    /* Example selector for .nav */
    nav.nav {
      /* Styles for .nav */
    }

    /* Example selector for .navbar-nav */
    .navbar-nav.nav-pills.nav-justified {
      /* Styles for .navbar-nav */
    }

    /* Example selector for .card */
    .card {
      /* Styles for .card */
    }

    /* Example selector for .breadcrumb */
    .breadcrumb {
      /* Styles for .breadcrumb */
    }

    /* Example selector for .toast */
    .toast {
      /* Styles for .toast */
    }

    /* Example selector for .modal */
    .modal {
      /* Styles for .modal */
    }

    /* Example selector for .tooltip */
    .tooltip {
      /* Styles for .tooltip */
    }

    /* Example selector for .popover */
    .popover {
      /* Styles for .popover */
    }
    
    /* Example selector for .offcanvas */
    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl 
      /* Styles for .offcanvas */
    