body {
  font-family: Arial, sans-serif;


@font-face 
  font-family: 'index.html.woff';
  src: url('index.html.woff') format('woff2'),
       url('inde.html.woff') format('woff');
  font-display: swap;
}
.nav-link:hover {
  font-size: 2em;
  font-weight: bold;
  color: rgb(43, 128, 226);
  text-align: center;
  font-style: italic;
  line-height: 40px;
  width: 20%;
  background: #3f56c0;
  color: #fff;
  border-radius: 15px;
}

#channel {
  border: none; /* Add this line to remove the frame border */
}

#Yuen {
  width: 100%;
  height: 550px;
  object-fit: cover;
  object-position: 50% 50%;
}

#grabovoi {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* Add any other styles you want */
}

#channel {
  width: 100%;
  height: auto;
}

.method.body {
  color: #000; /* Set the default text color */
  background-color: #fff; /* Set the default background color */
}

/* Adjust the styles for the header */
.method.header {
  padding: 5px;
}

.method.navbar {
  background-color: #e3f2fd;
}

.method.navbar-brand {
  color: #000;
}

.method.nav-link {
  color: #000;
}

.method.nav-link.active {
  color: #fff;
  background-color: #007bff; /* Set the active link background color */
}

/* Update the container styles */
.method.body .container {
  margin-top: 5rem;
  color: #000;
}

/* Update the footer styles */
.method.footer {
  margin-top: 5rem;
  background-color: #000;
  color: #fff;
}


footer a {
  color: whitesmoke;

}

.aboutus a.nav-link.text-decoration-none {
  color: #333; 
}

.aboutus nav.navbar.navbar-expand-sm.bg-light.fixed-top.nav-justified {
  background-color: #f8f9fa; 
}

.img-fluid{
width:15%; height:auto;
}

.methods .Yuen {
  width:50%; height:auto;
}

.method .grabovoi{
  width:100%; height:auto;
}